    <%- include('hnf/header.ejs') %> 
    <%- include('hnf/navbar.ejs') %>
    
    <div class="container-expand">
        <div class="row">
            <div class="col-sm-2">
                <ul class="list-group">
                   <%- include('hnf/lateralInfo.ejs') %> 
                </ul>
                <div class="text-center mt-4">
                    <a href="../ranking/rankingU.html" class="btn btn-warning" role="button"> RANKING </a>
                </div>
            </div>
            <div class="col-sm-10 text-rigth mt-5" id=contenido>
                
            </div>
        </div>
        <p hidden id="infoBuscar"><%= infoBusqueda.buscar %></p>
        <p hidden id="info_post_foro"><%= infoBusqueda.post_foro %></p>
        <p hidden id="info_categoria"><%= infoBusqueda.categoria %></p>
        <p hidden id="info_username"><%= infoBusqueda.username %></p>
        <p hidden id="info_texto"><%= infoBusqueda.texto %></p>


    </div>


    <!-- Footer -->
    <%- include('hnf/footer.ejs') %> 

    <script type="text/javascript" src="./javascript/publicaciones/informativo.js"></script>
    <script type="text/javascript" src="./javascript/publicaciones/navbarSearch.js"></script>

</body>

</html>