    <%- include('hnf/header.ejs') %> 
    <%- include('hnf/navbar.ejs') %>

    <div class="container-expand">
        <div class="row">
            <div class="col-sm-12 mt-4">
                <div class="container mt-4 mb-4" id="contenidoForo">
                    <% if(typeof publicacion != 'undefined'){ %>
                        <p hidden id="pub" class="text-danger"><%= publicacionForo.titulo %></p>
                        <p hidden id="publicado" class="text-danger"><%= publicacionForo.publicado %></p>
                        <p hidden id="id_foro" class="text-danger"><%= publicacionForo.id %></p>
                        <p hidden id="username_foro" class="text-danger"><%= publicacionForo.username_usuario %></p>
                    <% } %>
                </div>
                <%- include('hnf/mensaje.ejs') %>
                <div class="container">
                    <div class="col-sm-6">
                        <p id="tags"></p>
                    </div>
                </div>
                <div class="container">
                    <hr>
                </div>
                <div class="container" id="seccionComentarios">
                    <!--Aquí se tendrá que cargar los comentarios. Esto se tendra que ir creando dinámicamente-->
                    <!-- <hr>
                    <div class="row">
                        <div id="username" class="col-sm-2 text-center">
                            <p><strong>LuchoCode</strong></p>
                        </div>
                        <div id="comentario" class="col-sm-10">
                            <p>Aquí irá un comentario</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div id="username" class="col-sm-2 text-center">
                            <p><strong>CañaMan999</strong></p>
                        </div>
                        <div id="comentario" class="col-sm-10">
                            <p>Aquí irá un comentario</p>
                        </div>
                    </div> -->
                    <!--HASTA AQUÍ-->
                </div>
                <!--Aqui se tendrá el text area para que el usuario, en caso de estar registrado, pueda comentar.-->
                <div class="container mt-4">
                    <form style="display: flex; margin-right: 20px;margin-left: 20px">
                        <input id="comentario" type="text" style="flex: 1" placeholder="Añade un comentario">
                        <button id="btnEnviar" type="button" class="btn ml-3 btn-outline-primary">Enviar</button>
                    </form>

                </div>
                <!-- En esta parte va las respuestas por parte de los usuario-->
                <div class="container">
                    <hr >
                    <h3>Respuestas</h3>
                </div>
                
                <div class="container" id=seccionRespuestas>

                    <!--Esta parte también se debería crear dinámicamente con las respuestas de los usuarios-->
                   
                    <!-- <div class="row">
                        <div class="container">
                            <p>La respuesta por parte del usuario irá en esta sección. Loremjfjsdhfjsfks jhfshfjhfdsjk fds fjhfks fsh fjkds fdkj fdsjhfjdskfjkd fsd hds dhsadhas dhuashdad iua dsa su suai du dasiuhd asu dsadhai hdsa</p>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-outline-primary"><i class="fas fa-arrow-circle-up"></i></button>
                            <button class="btn btn-outline-primary"><i class="fas fa-arrow-circle-down"></i></button>
                        </div>
                        <div class="col-sm-2">
                            <p><strong>Calificación:</strong> 10 pts</p>
                        </div>
                        <div class="col-sm-4">
                            <p><strong>Respondido: </strong><em id="respFecha1"></em></p>
                        </div>
                        <div class="col-sm-4 text-center">
                            <img src="images/default-user.jpeg" style="width: 60px; height: 60px">
                            <p><strong>AliciaBerg</strong><br>
                                <strong>Puntos: </strong>10
                            </p>
                        </div>
                    </div>
                    <hr style="height:2px;border-width:0;color:gray;background-color:black"> -->
                </div>

                <!--Sección para las respuestas-->
                <div class="container">
                    <hr >
                    <h3>Responder</h3>
                </div>
                <div class="container mt-4">
                    <div class="row">
                        <div class="col-sm-12" id="contEdit">
                            <textarea id="editor1"></textarea>
                        </div>
                        <div class="col-sm-12 text-right mt-4">
                            <!--Aquí se debería verificar que el usuario sea uno registrado para enviar la respuesta-->
                            <button id="btnEnviarResp" class="btn btn-outline-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <%- include('hnf/footer.ejs') %> 

    <!--Espacio para los scripts-->
    <script type="text/javascript" src="./javascript/publicaciones/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="./javascript/publicaciones/viewForo.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</body>

</html>