    <%- include('hnf/header.ejs') %> 
    <%- include('hnf/navbar.ejs') %>

    <div class="container-expand">
        <div class="row">
            <div class="col-sm-12">
                <div class="container mt-4 mb-4" id="contenidoPost">
                    <% if(typeof publicacion != 'undefined'){ %>
                        <p hidden id="pub" class="text-danger"><%= publicacion.titulo %></p>
                        <p hidden id="publicado" class="text-danger"><%= publicacion.publicado %></p>
                        <p hidden id="id_post" class="text-danger"><%= publicacion.id %></p>
                        <p hidden id="username_post" class="text-danger"><%= publicacion.username_usuario %></p>
                        <p hidden id="valoracion" class="text-danger"><%= publicacion.valoracion %></p>
                    <% } %>
                    
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <p id="tags"></p>
                        </div>
                        <div class="col-sm-6" id="contenedorEstrellas">
                            <button id="btnStar1" class="btn"><i class="fas fa-star "></i></button>
                            <button id="btnStar2" class="btn"><i class="fas fa-star "></i></button>
                            <button id="btnStar3" class="btn"><i class="fas fa-star "></i></button>
                            <button id="btnStar4" class="btn"><i class="fas fa-star "></i></button>
                            <button id="btnStar5" class="btn"><i class="fas fa-star "></i></button>
                        </div>
                    </div>
                    <hr>
                    <%- include('hnf/mensaje.ejs') %>
                    <!--Aquí va la parte en donde el usuario puede comentar-->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-1" id="imagenComentario">
                                <% if (typeof(profilePictureRoute) !== 'undefined') { %>
                                <img src="<%= profilePictureRoute %>" width="60px" height="60px">
                                <% } else { %>
                                    <img src="" width="60px" height="60px">
                                <% } %>
                                
                            </div>
                            <div class="col-sm-11">
                                <div class="container">
                                    <form style="display: flex; margin-right: 20px;margin-left: 20px">
                                        <input id="comentario" type="text" style="flex: 1" placeholder="Añade un comentario">
                                        <button id="btnEnviar" type="button" class="btn ml-3 btn-outline-primary">Enviar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--***************************************************-->
                    <hr>
                    <h3>Comentarios</h3>
                    <!--Contenedor dinámico-->
                    <div class="container mt-4" id="seccionComentarios">
                    </div>
                    
                    <!--FIn de contenedor dinámico-->
                    <div class="container mt-4">
                        
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('hnf/footer.ejs') %>

    <!--Espacio para los scripts-->
    <script type="text/javascript" src="./javascript/publicaciones/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="./javascript/publicaciones/viewPost.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</body>

</html>