<!DOCTYPE html>

<html lang="es">

<head>
    <title>Direcciones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href=".././css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="jumbotron head_foot">
            <img src=".././images/ecuador.png" class="float-right imagen_header" alt="Escudo de Armas del Ecuador">
            <h1><b>@prendEC</b></h1>
        </div>
    </header>
    <!-- Navbar -->
    <%- include('../publicaciones_views/hnf/navbar.ejs') %>
    <!-- Cuerpo -->
    <div class="container-fluid pt-4 pb-4">
        <div class="row">
            <!-- Barra Lateral -->
            <aside class="col-sm-4 pt-4 pb-4 bg-light navbar-light rounded">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item"><a class="nav-link" href="/compras"><i
                                class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Carrito</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compras/historial"><i
                                class="far fa-file-alt"></i>&nbsp;&nbsp;Historial de Compras</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/compras/direcciones"><i
                                class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Direcciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compras/metodos_pago"><i
                                class="far fa-credit-card"></i>&nbsp;&nbsp;Métodos de Pago</a></li>
                </ul>
            </aside>
            <!-- Secciones de Pestañas -->
            <div class="col-sm-8 pt-4 pb-4">
                <section class="container" id="direcciones">
                    <!-- Gestión de Direcciones Registradas -->
                    <div class="ml-4">
                        <h2>Direcciones</h2>
                        <br>
                        <!-- Scroll de Direcciones -->
                        <div class="container border pre-scrollable pt-4 pb-4">
                            <% if (results.length === 0) { %>
                            <!-- Instancia de Direcciones Vacía -->
                            <div class="vacio">
                                <p><i class="fas fa-ban icono_vacio"></i></p>
                                <h5>No tiene direcciones de envío agregadas.</h5>
                                <hr>
                            </div>
                            <!-- Fin Instancia de Direcciones Vacía -->
                            <% } else { %>
                            <% for (let i=0; i < results.length; i++) { %>
                            <!-- Instancia de Dirección -->
                            <div id="<%= results[i].id %>">
                                <div class="row ml-2 mr-2">
                                    <div class="col-xl-1 align-self-sm-center">
                                        <input type="checkbox" id="dir<%= results[i].id %>" name="dir"
                                            value="dir<%= results[i].id %>" class="estado_dir" disabled
                                            <%= results[i].activa ? "checked" : "" %> />
                                    </div>
                                    <div class="col-xl-7">
                                        <h4><span><%= results[i].nombre_encargado %></span></h4>
                                        <p><span><%= results[i].linea_direccion_1 %></span><br>
                                            <% if (results[i].linea_direccion_2 !== null && results[i].linea_direccion_2 !== "") { %>
                                            <span><%= results[i].linea_direccion_2 %></span><br>
                                            <% } %>
                                            <span><%= results[i].ciudad %></span><span>,
                                                <%= results[i].provincia %></span><span>
                                                (<%= results[i].codigo_postal %>)</span><br>
                                            Ecuador<br>
                                            Cédula:<span><%= results[i].cedula_encargado %></span><br>
                                            Teléfono: <span><%= results[i].telefono %></span></p>
                                    </div>
                                    <div class="col-xl-3 align-self-sm-end btn-group btn-group-sm">
                                        <button type="button" class="btn btn-link boton_activar_dir"
                                            data-id="dir<%= results[i].id %>" data-info="<%= results[i].id %>"
                                            <%= results[i].activa ? "disabled" : "" %> />Activar</button>
                                        <a href="/compras/direcciones/editar_direccion/<%= results[i].id %>"><button type="button"
                                                class="btn btn-link">Editar</button></a>
                                        <button type="button" class="btn btn-link eliminar_direccion"
                                            data-id="<%= results[i].id %>"
                                            data-info="<%= results[i].nombre_encargado %> (<%= results[i].linea_direccion_1 %>)"
                                            data-toggle="modal" data-target="#modal_eliminar_direccion">Eliminar</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <!-- Fin Instancia de Dirección -->
                            <% } %>
                            <% } %>
                        </div>
                        <br>
                        <div class="form-group float-right">
                            <button type="button" class="btn btn-primary" data-toggle="collapse"
                                data-target="#formdir"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <!-- Formulario de Direcciones -->
                    <div class="ml-4 collapse" id="formdir">
                        <br><br>
                        <hr>
                        <br>
                        <h2>Dirección</h2>
                        <br>
                        <form class="needs-validation" novalidate action="/compras/direcciones" method="POST">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                                </div>
                                <input type="text" id="nombres" name="nombres" class="form-control"
                                    placeholder="Nombres Completos" required>
                                <div class="valid-feedback">Correcto.</div>
                                <div class="invalid-feedback">Por favor rellene el campo.</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                </div>
                                <input type="text" id="cedula" name="cedula" class="form-control" pattern="[0-9]{10}" required
                                    placeholder="Cédula">
                                <div class="valid-feedback">Correcto.</div>
                                <div class="invalid-feedback">Por favor rellene el campo. Formato: Cédula Ecuatoriana de
                                    10 Dígitos.
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map"></i></span>
                                </div>
                                <input type="text" id="linea1" name="linea1" class="form-control" required
                                    placeholder="Línea de Dirección 1">
                                <div class="valid-feedback">Correcto.</div>
                                <div class="invalid-feedback">Por favor rellene el campo.</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-map-marked"></i></span>
                                </div>
                                <input type="text" id="linea2" name="linea2" class="form-control"
                                    placeholder="Línea de Dirección 2 (Opcional)">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-globe-americas"></i></span>
                                </div>
                                <select id="provincia" name="provincia" class="form-control" required></select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-archway"></i></span>
                                </div>
                                <select id="canton" name="canton" class="form-control" required></select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-atlas"></i></span>
                                </div>
                                <input type="text" id="codigo" name="codigo" class="form-control" pattern="[0-9]{6}" required
                                    placeholder="Código Postal">
                                <div class="valid-feedback">Correcto.</div>
                                <div class="invalid-feedback">Por favor rellene el campo. Formato: Código Postal
                                    Ecuatoriano de 6 Dígitos.</div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="text" id="telefono" name="telefono" class="form-control"
                                    class="form-control" pattern="[0-9]{9,10}" required placeholder="Teléfono">
                                <div class="valid-feedback">Correcto.</div>
                                <div class="invalid-feedback">Por favor rellene el campo. Formato: Teléfono
                                    Ecuatoriano de 9 (Convencional) o 10 Dígitos (Celular).</div>
                            </div>
                            <div class="form-group float-right">
                                <input type="submit" value="Aceptar" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="content"></div>
    <footer>
        <div class="jumbotron text-center head_foot">
            <p>Aprendizaje Online para todo el Ecuador</p>
            AprendEC 2020 <i class="far fa-copyright"></i>
        </div>
    </footer>
    <!-- Modal Eliminar Dirección -->
    <div class="modal fade" id="modal_eliminar_direccion" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar Dirección</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="body_modal_eliminar_direccion">
                    Se procederá a eliminar la dirección:
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="aceptar_eliminar_direccion">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script src=".././javascript/combos_direcciones.js"></script>
    <script src=".././javascript/form_validation.js"></script>
    <script src=".././javascript/activar_direccion.js"></script>
    <script src=".././javascript/eliminar_direccion.js"></script>
</body>

</html>