<!DOCTYPE html>

<html lang="es">

<head>
    <title>Carrito</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="jumbotron head_foot">
            <img src="./images/ecuador.png" class="float-right imagen_header" alt="Escudo de Armas del Ecuador">
            <h1><b>@prendEC</b></h1>
        </div>
    </header>
    <!-- Navbar -->
    <%- include('../publicaciones_views/hnf/navbar.ejs') %>
    <!-- Cuerpo -->
    <div class="container-fluid pt-4 pb-4">
        <div class="row">
            <!-- Barra Lateral -->
            <aside class="col-sm-4 pt-4 pb-4 bg-light navbar-light rounded">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item"><a class="nav-link active" href="/compras"><i
                                class="fas fa-shopping-cart"></i>&nbsp;&nbsp;Carrito</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compras/historial"><i
                                class="far fa-file-alt"></i>&nbsp;&nbsp;Historial de Compras</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compras/direcciones"><i
                                class="fas fa-map-marked-alt"></i>&nbsp;&nbsp;Direcciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/compras/metodos_pago"><i
                                class="far fa-credit-card"></i>&nbsp;&nbsp;Métodos de Pago</a></li>
                </ul>
            </aside>
            <!-- Secciones de Pestañas -->
            <div class="col-sm-8 pt-4 pb-4">
                <!-- Sección de Carrito -->
                <section class="container" id="carrito">
                    <!-- Gestión de Productos en Carrito -->
                    <div class="ml-4">
                        <h2>Carrito</h2>
                        <br>
                        <!-- Scroll de Carrito -->
                        <div class="container border pre-scrollable pt-4 pb-4">
                            <% if (results.length === 0) { %>
                            <!-- Instancia de Carrito Vacío -->
                            <div class="vacio">
                                <p><i class="fas fa-ban icono_vacio"></i></p>
                                <h5>No hay productos en el carrito.</h5>
                                <hr>
                            </div>
                            <!-- Fin Instancia de Carrito Vacío -->
                            <% } else { %>
                            <% let costo = "0.00" %>
                            <% for (let i=0; i < results.length; i++) { %>
                            <div id="<%= results[i].id %>">
                                <div class="row ml-2 mr-2">
                                    <div class="col-lg-4 align-self-sm-center">
                                        <img src="./images/productos/<%= results[i].foto %>"
                                            alt="<%= results[i].nombre %>" class="imagen_carrito">
                                        <hr class="hr_br">
                                    </div>
                                    <div class="col-lg-5">
                                        <h4><%= results[i].nombre %></h4>
                                        <% costo = bigDecimal.add(costo, bigDecimal.multiply(results[i].precio, results[i].cantidad)) %>
                                        <p>Precio: $<span id="prod<%= results[i].id %>"><%= results[i].precio %></span>
                                            USD<br> Institución:
                                            <%= results[i].institucion %><br></p>
                                        <p>Cantidad:&nbsp;
                                        <div class="col-xl-3 align-self-sm-end btn-group btn-group-sm">
                                            <button type="button" class="btn btn-link menos"
                                                data-id="cant<%= results[i].id %>" data-info="prod<%= results[i].id %>"><i class="fas fa-minus"></i></button>
                                            &nbsp;<input type="number" min="1" max="<%= results[i].stock %>"
                                                value="<%= results[i].cantidad %>" disabled
                                                id="cant<%= results[i].id %>">&nbsp;
                                            <button type="button" class="btn btn-link mas"
                                                data-id="cant<%= results[i].id %>" data-info="prod<%= results[i].id %>"><i class="fas fa-plus"></i></button>
                                        </div>
                                        </p>
                                    </div>
                                    <div class="col-lg-3 align-self-sm-end btn-group btn-group-sm">
                                        <button type="button" class="btn btn-link quitar_producto_carrito"
                                            data-id="<%= results[i].id %>"
                                            data-info="<%= results[i].nombre %> (<%= results[i].institucion %>)"
                                            data-toggle="modal" data-target="#modal_quitar_producto">Quitar</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <% } %>
                        </div>
                        <br>
                        <div class="form-group float-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#modal_comprar" id="boton_comprar">Comprar</button>
                        </div>
                        <h5 id="contenedor_costo">Total: $<span id="costo"><%= costo %></span> USD</h5>
                        <% } %>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="content"></div>
    <footer>
        <div class="jumbotron text-center head_foot">
            <p>Aprendizaje Online para todo el Ecuador</p>
            AprendEC 2020 <i class="far fa-copyright"></i>
        </div>
    </footer>
    <!-- Modal Comprar -->
    <div class="modal fade" id="modal_comprar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Proceder con la Compra</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Se procederá a efectuar la compra con la dirección y el método de pago activados en las otras
                    secciones.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <a href="/compras/informe"><button type="button" class="btn btn-primary">Aceptar</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Quitar Producto -->
    <div class="modal fade" id="modal_quitar_producto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quitar Producto del Carrito</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="body_modal_quitar_producto">
                    Se procederá a quitar el producto:
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="aceptar_quitar_producto"
                        data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/js-big-decimal.min.js"></script>
    <script src="./javascript/quitar_producto_carrito.js"></script>
    <script src="./javascript/control_carrito.js"></script>
</body>

</html>